<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Generator</title>
        {% load static %}
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}" type = "text/css" media = "screen">
</head>
<body>
    <div class="container">
        <h2 class="title">Password Generator</h2>
        <div class="result" >
            <div class="result__title field-title">Generated Password</div>
            <div class="result__info right">click to copy</div>
            <div class="result__info left">copied</div>
            <div class="result__viewbox" id="result">CLICK GENERATE</div>
            <button id="copy-btn" style="--x: 0; --y: 0"><i class="far fa-copy"></i></button>
        </div>

        <div class="settings">
            <form action="{% url 'password'%}">
                <select  name="lenght" class="range__slider">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            <span class="settings__title field-title">settings</span>
            <div class="setting">
                <input type="checkbox" id="uppercase" name="uppercase" checked />
                <label for="uppercase">Include Uppercase</label>
            </div>
            <div class="setting">
                <input type="checkbox" id="lowercase" name="lowercase" checked />
                <label for="lowercase">Include Lowercase</label>
            </div>
            <div class="setting">
                <input type="checkbox" id="number" name="number" checked />
                <label for="number">Include Numbers</label>
            </div>
            <div class="setting">
                <input type="checkbox" id="symbol" name="symbol" checked />
                <label for="symbol">Include Symbols</label>
            </div>
        </div>
                <button input="sumbit" class="btn generate"> Button </button>
            </form>
        </div>
    </div>
<script src="static/js/script.js"></script>

</body>
