<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
</head>
<body>
    <h1>Password Generator</h1>

<form action="{% url 'password' %}">
    <select name="lenght">
        <option name="6">6</option>
        <option name="7">7</option>
        <option name="8">8</option>
        <option name="9">9</option>
        <option name="10">10</option>
    </select>
    <br>
        <input type="checkbox" name="uppercase"> Uppercase
    <br>
        <input type="checkbox" name="numbers"> Numbers
    <br>
        <input type="checkbox" name="special_characters"> Special Characters
    <br>

    <input type="submit" value="Generate">
</form>
</body>
</html>